In [1]:
print('Hello World')
print('Hello World {} + {} = {}'.format(2, 3, 2+3))

Hello World
Hello World 2 + 3 = 5

In [3]:
x = 3
print(type(x))
print(x)

<class 'int'>
3

In [4]:
print(x + 1)
print(x - 1)
print(x * 2)
print(x ** 2)

4
2
6
9

In [5]:
a = range(5)
a

range(0, 5)

In [6]:
a[2]

2

In [7]:
for i in range(5) :
    print('{} ----- {}'.format(i, a[i]))

0 ----- 0
1 ----- 1
2 ----- 2
3 ----- 3
4 ----- 4

In [9]:
for i in range(1, 10) :
    print('{} x {} = {}'.format(2, i, 2*i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [10]:
print((1, 2, 3) * 3)
print([1, 2, 3] * 3)
print("Hello "*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
Hello Hello Hello

In [11]:
months = ('January','February','March','April','May','June','July','August','September','October','November','December')
print(months[0])
print("index of 7 -> " , months[7])

January
index of 7 ->  August

In [12]:
for item in months :
    print(item)

January
February
March
April
May
June
July
August
September
October
November
December

In [15]:
t = ('john', 32, (2,3,4,5), 'hello')
print(t)
print(t[2])
print(t[2][1])
print(t[:2])
print(t[2:])
print(t[-1])
print(t[-2])

('john', 32, (2, 3, 4, 5), 'hello')
(2, 3, 4, 5)
3
('john', 32)
((2, 3, 4, 5), 'hello')
hello
(2, 3, 4, 5)

In [18]:
li = ['hallym', 1, 3.141572, 'hello']
li

['hallym', 1, 3.141572, 'hello']

In [19]:
li[1] = 45
li

['hallym', 45, 3.141572, 'hello']

In [20]:
li.append('September')
li

['hallym', 45, 3.141572, 'hello', 'September']

In [21]:
v = []
for i in range(0, 3) :
    v.append(i * 5)
    print(i, v)

0 [0]
1 [0, 5]
2 [0, 5, 10]

In [22]:
print((1, 2, 3) + (4, 5, 6))
print([1, 2, 3], [4, 5, 6])
print('hello' + ' ' + 'world')

(1, 2, 3, 4, 5, 6)
[1, 2, 3] [4, 5, 6]
hello world

In [23]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

In [24]:
for i, val in enumerate(v) :
    print('{} --> {}'.format(i, val))

0 --> 0
1 --> 5
2 --> 10

In [25]:
v2 = ['A', 'B', 'C', '0', '1', '2', '3']
v2

['A', 'B', 'C', '0', '1', '2', '3']

In [27]:
square = []
for x in range(10) :
    square.append(x**2)
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
square = [x**2 for x in range(10)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
word = '메롱'
print([c*2 for c in word])

['메메', '롱롱']

In [30]:
A = [n for n in range(10) if n % 2 ==0]
A

[0, 2, 4, 6, 8]

In [32]:
def jegob(x) :
    return x**2
g = lambda x : x**2

In [33]:
g(7)

49

In [34]:
g(8)

64

In [35]:
jegob(8)

64

In [36]:
f = lambda x, y : x + y

In [37]:
f(2, 3)

5

In [38]:
f = lambda : True
f()

True